version: '3.3'
services:
  client0:
    environment:
      - GET_HOSTS_FROM=dns
    image: "fedkso:latest"
    build:
      context: .
    working_dir: /app
    command: /bin/bash -c "fedn run client -in client.yaml"
    shm_size: 15gb
    volumes:
      - ./data/clients/0:/app/data:ro #mount as READ ONLY
      - ./client.yaml:/app/client.yaml
  client1:
    environment:
      - GET_HOSTS_FROM=dns
    image: "fedkso:latest"
    build:
      context: .
    working_dir: /app
    command: /bin/bash -c "fedn run client -in client.yaml"
    shm_size: 15gb
    volumes:
      - ./data/clients/1:/app/data:ro #mount as READ ONLY
      - ./client.yaml:/app/client.yaml
